/* You can add global styles to this file, and also import other style files */
@import './assets/styles/fonts.less';

body {
    color: #686868;
    font-weight: 400;
    font-family: 'tlxk';
    // font-family: 'mqrt';
}

// flex

.flex-column {
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

// flex

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}