/* You can add global styles to this file, and also import other style files */
@import './assets/styles/fonts.less';

body {
    color: #686868;
    font-weight: 400;
    font-family: 'mqrt';
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-around {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}