<div class="content flex-center">
    <div class="left">
        <p class="main-title">这里是商品大大的标题</p>
        <div class="listing-time">
            <span>111</span>
            <span>09/03/2023</span>
        </div>
        <img class="banner" src="../../../assets/images/category/big.jpg" alt="">
        <div class="info">
            <p class="title">发布信息</p>
            <div class="flex-center">
                <div>idsdad</div>
                <div>发布时间</div>
            </div>
        </div>
        <div class="info">
            <p class="title">描述信息</p>
            <div>
                这里是描述这里是描述这里是描述这里是描述这里是描述
                这里是描述这里是描述这里是描述这里是描述这里是描述
            </div>
        </div>
        <div class="info">
            <p class="title">视频信息</p>
            <div>
                这里是视频信息，如果有的话
            </div>
        </div>
    </div>
    <div class="right">
        <div class="sale-info phone">￥2000.00</div>
        <div class="sale-info flex-center">
            <img src="../../../assets/images/category/client.png" alt="" srcset="">
            <span class="name">大卫</span>
            <span>在线</span>
            <span>注册时间1年</span>
        </div>
        <div class="sale-info phone">32131313</div>
        <div class="sale-info flex-center">
            <span>出售信息</span>
            <span>共出售36件物品</span>
        </div>
    </div>
</div>