<div class="content">
    <nz-layout>
        <nz-layout>
            <nz-sider nzWidth="200px" nzTheme="light">
                <ul nz-menu nzMode="inline" class="sider-menu">
                    <li nz-submenu nzOpen="{{item.isOpen}}" *ngFor="let item of categoryLists" nzTitle="{{item.name}}">
                        <ul>
                            <li *ngFor="let detail of item.childrens" nz-menu-item nzSelected="{{detail.isSelect}}">
                                {{detail.name}}</li>
                        </ul>
                    </li>
                </ul>
            </nz-sider>
            <nz-layout class="inner-layout">
                <nz-breadcrumb>
                    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                    <nz-breadcrumb-item>List</nz-breadcrumb-item>
                    <nz-breadcrumb-item>App</nz-breadcrumb-item>
                </nz-breadcrumb>
                <nz-content>
                    <div class="hall-detail">
                        <div nz-row>
                            <div class="hall-item" nz-col nzSpan="6" *ngFor="let item of list;let i = index" [routerLink]="['/app/product-detail/2']" routerLinkActive="router-link-active" >
                                <div class="hall-border">
                                    <img src="../../../assets/images/hall/01.jpg" alt="" srcset="">
                                    <div class="hall-con">
                                        <p>这里是标题</p>
                                        <p>分类：摩托车</p>
                                        <p>地点：海阳市</p>
                                        <p>时间：09/02/2023</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nz-content>
            </nz-layout>
        </nz-layout>
    </nz-layout>
</div>