<div class="content">
    <div class="first-line flex-center flex-align-start">
        <div>
            <img class="logo" src="../../../assets/images/logo.png" alt="" srcset="">
            <p>我们提供一个简单而高效的方式，让你快速清理不需要的物品，或者找到那些令人心动的宝贝。</p>
            <p>通过我们的用户友好的界面，你可以浏览各种类别的物品，与卖家取得联系，以及确保安全的在线交易。</p>
            <p>无论是寻找宝贝还是清理空间，我们的闲置交易平台都为你提供了完美的解决方案。开始享受买卖的乐趣，加入我们的社区吧！</p>
        </div>
        <div>
            <p>Usefull Links</p>
            <span class="flex-center flex-column" *ngFor="let item of footerMenu">
                {{item}}
            </span>
        </div>
        <div>
            <p>联系我们</p>
            <p>QQ：12345678@qq.com</p>
            <p>phone：1231312313w</p>
        </div>
    </div>
    <div class="about center">
        © 2017 Classifiedspot. All rights By bootstrapmb. Theme by TMD Studio
    </div>
</div>