<div class="content">
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="userErrorTpl">
                <input nz-input formControlName="userName" placeholder="请输入用户名" />
                <ng-template #userErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                        请输入用户名!
                    </ng-container>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>密码</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="请输入密码">
                <input nz-input type="password" formControlName="password"
                    (ngModelChange)="validateConfirmPassword()" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzOffset]="7" [nzSpan]="12">
                <button nz-button nzType="primary" [disabled]="!validateForm.valid">登录</button>
                <button nz-button (click)="resetForm($event)" [routerLink]="['/app/register']"
                    routerLinkActive="router-link-active">注册</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>